{% extends '../base.html' %}

{% block stylesheet %}
    {% load static %}
    <link href={% static 'register.css' %} rel='stylesheet'>
{% endblock stylesheet %}

{% block page_title %}
    {{ page_title }}
{% endblock page_title %}

{% block navBar %}
    <a href={% url 'homepage' %}>
        <div class='navBar__button'>Home</div>
    </a>
    <a href={% url 'login' %}>
        <div class='navBar__button'>Log In</div>
    </a>
{% endblock navBar %}

{% block content %}
    <div id='register__container'>
        <form action='' method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <div id='register__button'>
                <button type='submit'>Sign Up</button>
            </div>
            <div id='register__error'>
                {{ error }}
            </div>
        </form>
        <div id='register__login'>
            Already have an account? <a href={% url 'login' %}>Log In Here</a>
        </div>
    </div>
{% endblock content %}