<div id='userDetail__mainContainer'>
    {% for tweet in tweets %}
        <div class='userDetail__tweetContainer'>
            <div class='userDetail__tweetName'>
            <strong>
                    {{tweet.composer.display_name}}
            </strong>
            <i>
                @{{tweet.composer.username}}
            </i>
            </div>
            <a href={% url 'single_tweet' tweet.id %}>
                <div class='userDetail__tweetContent'>
                    {{ tweet.content }}
                </div>
            </a>
            <div class='userDetail__tweetDate'>
                {{ tweet.create_date }}
            </div>
        </div>
    {% endfor %}
</div>