#userDetail__sidebar {
    width: 30%;
    height: 100%;
    background-color: var(--scarlet);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0 20px 0;
}

#userDetail__displayName {
    font-size: 40px;
    color: var(--grey);
}

#userDetail__username {
    font-size: 25px;
    color: white;
}

#userDetail__infoContainer {
    width: 50%;
    height: 40%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

#userDetail__infoContainer button {
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--scarlet);
    background-color: white;
    color: var(--grey);
}
